.sapMGlobalBackgroundColor{
	background-color: #f2f2f2;
	background-image: url('images/DSC03996-40-60.jpg') !important;
	background-position: center;
	background-repeat: no-repeat;
}

.sapMSplitContainerMaster{
	background-color: transparent !important;
}

.sapMLIB.sapMLIBSelected{
	font-weight: bold !important;
}

.spinTransparent{
	background-color: transparent !important;
}

.entityKey{
	background-color: #D9E0FA;
	font-style: italic;
}

.entityKey>span, .entityKey>label{
	font-weight: bold !important;
}

.spinClickableCell{
	cursor:pointer !important;
	text-decoration: underline !important;
	color: #666666 !important;
}

.spinNoPaddingLeft{
	padding-left: 0rem !important;
}